<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%highlight(%d{HH:mm:ss})] [%boldRed(%-34.-34thread)] Class -> %boldRed(%-15.-15logger{0}) %highlight(%-6level): %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>